# 选择下载器接口
source [find interface/stlink.cfg]
# 选择传输协议 (SWD 模式)
transport select hla_swd
# 选择目标芯片类型 (f1x代表F1全系列，包含C8T6)
source [find target/stm32f1x.cfg]
# 4线制（无NRST引脚）专用：仅使用软件内核复位
reset_config none separate
